.navbar{
    /* border: 1px solid black; */
    margin: 0 20px;
    height: 96px;
}

.list-items{
    border: 2px solid red;

}
.list-items>* {
    margin: 0 10px;
    font-weight: 600;
    height: 50px;
    padding: 5px;
    position: relative;
    transition: 500ms all;
}

.list-items>*:hover {
    color:#EA4334  ;
    line-height: 24px;
}

.list-items>*::after {
    content: "";
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.568);
    position: absolute;
    bottom: 0px;
    left: 10%;
    right: 0%;
    text-align: center;
    transition: 300ms all;
    opacity: 0;
}
.list-items>*:hover::after {
    opacity: 1;
}

@media screen and (max-width:650px){
    
}
